{% extends "layout/base.html" %}
{% block title %} Forum {% endblock %}
{% block content %}
	<div id="app"></div>
{% endblock %}
{% block javascript %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
<script src="{{ url_for('static', filename='js/get.js') }}"></script>
<script src="{{ url_for('static', filename='js/update.js') }}"></script>
<script src="{{ url_for('static', filename='js/delete.js') }}"></script>
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}