{% extends "layout/base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
	<div class="row" style="margin-top: 100px;">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="card border-primary">
			 <div class="card-body">
			    <h2 class="card-title">{{ post.title }}</h2>
			    <p class="card-text" style="font-size: 13px;">{{ post.content }}</p>
			    <h6 class="card-subtitle mb-2 text-muted" style="font-size: 10px;">Created at:{{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}</h6>
			    <button class="btn btn-outline-primary btn-sm"><a href="{{ url_for('edit_topic', id_=post.id) }}" class="card-link">Edit Post</a></button>
			    <button class="btn btn-outline-primary btn-sm delete"><a href="{{ url_for('delete_topic', id_=post.id) }}" class="card-link">Delete Post</a></button>
			  </div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/confirm.js') }}"></script>
{% endblock %}